<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.rental.mapper.AutoInfoMapper">

    <select id="searchByPage" resultType="com.coder.rental.entity.AutoInfo" parameterType="com.coder.rental.entity.AutoInfo">
        select ai.*,am.name makerName,ab.brand_name
        from auto_info ai
        left join auto_maker am on ai.maker_id=am.id
        left join auto_brand ab on ai.brand_id=ab.id
        where ai.deleted=0
        and am.deleted=0
        and ab.deleted=0
        <if test="autoInfo.autoNum!=null and autoNum!=''">
            and ai.auto_num like concat('%',#{autoInfo.autoNum},'%')
        </if>
        <if test="autoInfo.makerId!=null">
            and ai.maker_id=#{autoInfo.makerId}
        </if>
        <if test="autoInfo.brandId!=null">
            and ai.brand_id=#{autoInfo.brandId}
        </if>
        <if test="autoInfo.infoType!=null">
            and ai.info_type=#{autoInfo.infoType}
        </if>
        <if test="autoInfo.status!=null">
            and ai.status=#{autoInfo.status}
        </if>
        <if test="autoInfo.lowRegistrationDate!=null">
            and ai.registration_date &gt;= #{autoInfo.lowRegistrationDate}
        </if>
        <if test="autoInfo.highRegistrationDate!=null">
            and ai.registration_date &lt;= #{autoInfo.highRegistrationDate}
        </if>
        <if test="autoInfo.lowRent!=null">
            and ai.rent &gt;= #{autoInfo.lowRent}
        </if>
        <if test="autoInfo.highRent!=null">
            and ai.rent &lt;= #{autoInfo.highRent}
        </if>
    </select>
</mapper>
