<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.rental.mapper.AutoBrandMapper">
    <select id="searchByPage" resultType="com.coder.rental.entity.AutoBrand">
        select m.name makerName,b.id,b.brand_name,b.mid,b.deleted
        from auto_brand b, auto_maker m
        where b.mid = m.id
        <if test="autoBrand.mid!=null">
            and b.mid = #{autoBrand.mid}
        </if>
        <if test="autoBrand.brandName != null and autoBrand.brandName != ''">
            and b.brand_name like concat('%',#{autoBrand.brandName},'%')
        </if>
        and b.deleted = 0
        and m.deleted = 0
        order by m.order_letter
    </select>
</mapper>
